{{#if shouldShowMultipleScenarioHelp}}
<div class={{if shouldUseFloatingMode "multiple-scenarios-arrow full-screen-arrow" "multiple-scenarios-arrow normal-screen-arrow"}}>
    <img src={{if shouldUseFloatingMode "imagenes/multiple-scenarios-arrow-full-screen.png" "imagenes/multiple-scenarios-arrow.png"}}>
    <span class="multiple-scenarios-arrow-text">{{t "components.sceneButtons.multipleScenarios"}}</span>
</div>
{{/if}}
