<div class="multiple-scenarios-arrow">
    <img src="imagenes/multiple-scenarios-arrow2.png" style="object-fit: contain"/>
    <span class="multiple-scenarios-arrow-text">{{t "multipleScenarios"}}</span>
</div>

