<div class='collapsable-title' {{action 'toggle'}}>
  {{title}}
  {{#if this.isExpanded}}
    <RPaperIcon @iconName="keyboard_arrow_up"/>
  {{else}}
    <RPaperIcon @iconName="keyboard_arrow_down"/>
  {{/if}}
</div>
{{#if this.isExpanded}}
  {{yield}}
{{/if}}
