<Fireworks/>
<Modal @title={{"¡Lo lograste!"}} @onClose={{action onClose}}>
  <div class="center">
    <img src="imagenes/libros/primer-ciclo.png" />
    <p><strong>Para pensar...</strong> Tu programa no es el único que resuelve el problema. ¡Existen otras soluciones!</p>
    <p>¿Estás usando los conceptos bien?</p>
  </div>
</Modal>