<Fireworks/>
<Modal @title={{t "components.finishedExerciseModal.congratulationsModal.title"}} @onClose={{action this.onClose}}>
  <div class="center">
    <img src="imagenes/libros/primer-ciclo.png" />
    <p>{{markdown-to-html description}}</p>
  </div>
</Modal>