<Link @href={{href-to "challengue-creator"}} @openOnNewTab={{false}}>

  <div class="exercises-book-image">
    <img src="imagenes/libros/create-custom-challenges.png" />
  </div>

  <h3 class="book-title">{{t "components.createCustomChallenge.create"}}</h3>

  <div class="challenges-book-description">
    <i>{{t "components.createCustomChallenge.custom"}}</i>
  </div>

</Link>