<Link @href={{challengeCreatorURL}} @openOnNewTab={{true}}>

  <div class="exercises-book-image">
    <img src="imagenes/libros/create-custom-challenges.png" />
  </div>

  <h3 class="book-title">{{"Crear desafío"}}</h3>

  <div class="challenges-book-description">
    <i>{{"Crea desafíos personalizados con el creador de desafíos de Pilas Bloques."}}</i>
  </div>

</Link>