<div class="disclaimer-container">
  <RPaperCard class="disclaimer paper-card">
    <ProgramarDisclaimer/>
  </RPaperCard>
  <RPaperCard class="disclaimer paper-card">
    <RegisterDisclaimer/>
  </RPaperCard>
</div>
{{yield}}