<div class="disclaimer-container">
  <RPaperCard class="disclaimer">
    <ProgramarDisclaimer/>
  </RPaperCard>
  <RPaperCard class="disclaimer">
    <RegisterDisclaimer/>
  </RPaperCard>
</div>
{{yield}}