<div class="disclaimer-container">
  <PaperCard class="disclaimer">
    <ProgramarDisclaimer/>
  </PaperCard>
  <PaperCard class="disclaimer">
    <RegisterDisclaimer/>
  </PaperCard>
</div>
{{yield}}