<div class="jumbotron center">
  <h3>¿Entraste a<Link @href="http://program.ar/programar-en-casa/" @openOnNewTab={{true}} >Program.AR en casa</Link>?</h3>
  <p>En<Link @href="http://program.ar/programar-en-casa/" @openOnNewTab={{true}} ><b>Program.AR en casa</b></Link>encontrarás
    mucho material, muchas herramientas y una explicación de cómo usar Pilas Bloques</p>
</div>
{{yield}}