<div class="jumbotron center">
  <h3>¿Entraste a <PilasLink href="http://program.ar/programar-en-casa/">Program.AR en casa</PilasLink>?</h3>
  <p>En <PilasLink href="http://program.ar/programar-en-casa/">Program.AR en casa</PilasLink> encontrarás 
  mucho material, muchas herramientas y una explicación de cómo usar Pilas Bloques</p>
</div>

<div class="jumbotron center" id="phoneDisclaimers">
  <div>
    <h4>¡Pronto saldrá una nueva versión de Pilas Bloques!</h4>
    <p>Esta nueva versión estará mejor adaptada a celulares. Mientras tanto, para usarla desde tu celular, asegurate de ponerlo apaisado.</p>
  </div>
  <img src="imagenes/phoneTurn.png"/>
</div>
{{yield}}