<PaperToolbar class="header">
  <PaperToolbarTools>

    <a class="pilas-bloques-logo" href="#"><img src='imagenes/logo.png'></a>

    {{#unless model}}
      <BookNavigationButton @index="1">Primer Ciclo</BookNavigationButton>
      <BookNavigationButton @index="2">Segundo Ciclo</BookNavigationButton>
    {{/unless}}

    {{#if model}}
      {{#if (media 'isMobile')}}
        <NavigationMenu @desafio={{model}} />
      {{else}}
        <span class="flex"></span>
        <NavigationBreadcrumb @desafio={{model}} />
      {{/if}}
    {{/if}}
    
    <span class="flex"></span>
    <NightModeToggle/>

  </PaperToolbarTools>
</PaperToolbar>