<div class="link" onClick={{action "importarProyecto"}} >

  <div class="exercises-book-image">
    <img src="imagenes/libros/import-custom-challenges.png" />
  </div>

  <h3 class="book-title">{{"Importar desafío"}}</h3>

  <div class="challenges-book-description">
    <i>{{"Importa un desafío personalizado proveniente del creador de desafios de Pilas Bloques."}}</i>
  </div>

  <input type='file' id="cargarProyectoInput" accept=".pb" class="hidden" />
</div>