<div class="link" onClick={{action "importarProyecto"}} >

  <div class="exercises-book-image">
    <img src="imagenes/libros/import-custom-challenges.png" />
  </div>

  <h3 class="book-title">{{t "components.importCustomChallenge.import"}}</h3>

  <div class="challenges-book-description">
    <i>{{t "components.importCustomChallenge.custom"}}</i>
  </div>

  <input type='file' id="cargarProyectoInput" accept=".zip" class="hidden" />
</div>