<p>
  ¿Tenés algún problema?
</p>
<p>
  ¿Pensás que este ejercicio tiene un error?
</p>
<p>
  Podés escribirnos a
  <a href="mailto:pilasbloques@program.ar">
    pilasbloques@program.ar
  </a>
</p>
<p>
  Si tenés una cuenta en Github podés también hacernos un reporte de error directamente en el
  <PilasLink @href="https://github.com/Program-AR/pilas-bloques/issues">
    Issue Tracker
  </PilasLink>
</p>