{{#if needShowInitialDialog}}
    {{#paper-dialog class="flex" onClose=(action (mut needShowInitialDialog) false) origin=dialogOrigin clickOutsideToClose=true}}
        <PaperDialogContent class="wallpaper layout-column">
            <span class="flex"></span>
            <span class="wallpaper-title">¿Sabías Qué...?</span>
            <span class="flex"></span>
            <span class="wallpaper-text">{{model.consignaInicial}}</span>
            <span class="flex"></span>
            <span class="layout-row">
                <span class="flex"></span>
                <img class="wallpaper-arrow" src="/imagenes/arrow-down.png">
            </span>
            <span class="layout-row">
                <span class="flex"></span>
                <span class="wallpaper-button" onClick={{action (mut needShowInitialDialog) false}}>¡Continuar!</span>
            </span>
        </PaperDialogContent>
    {{/paper-dialog}}
{{/if}}