<h4 class="modal-title">
  {{title}}
  <button
    id="cerrar-modal"
    class="pull-right btn btn-xs btn-default"
    {{action "ocultar"}}
  >
    <FaIcon @icon="close fa-2x" />
  </button>
</h4>
{{yield}}