{{#if this.shouldShowMultipleScenarioHelp}}
<div class={{if this.shouldUseFloatingMode "multiple-scenarios-arrow full-screen-arrow" "multiple-scenarios-arrow normal-screen-arrow"}}>
    <span class={{if this.shouldUseFloatingMode "multiple-scenarios-arrow-text full-screen-arrow-image" "multiple-scenarios-arrow-text normal-screen-arrow-image"}}>{{t "components.sceneButtons.multipleScenarios"}}</span>
</div>
{{/if}}
