<Toggle class="night-mode" @element-id="night-mode-slider" @tooltip={{if isNightTheme (t "components.nightModeToggle.lightTheme") (t "components.nightModeToggle.darkTheme")}} @isChecked={{isNightTheme}} @onToggle={{action "toggleTheme"}}>
    <div class="slider-icon">
      {{#if isNightTheme}}
        <FaIcon @icon="moon"/>
      {{else}}
        <FaIcon @icon="sun"/>
      {{/if}}
    </div>

</Toggle>