<Toggle class="night-mode" @element-id="night-mode-slider" @tooltip={{if this.isNightTheme (t "components.nightModeToggle.lightTheme") (t "components.nightModeToggle.darkTheme")}} @isChecked={{this.isNightTheme}} @onToggle={{action "toggleTheme"}}>
    <div class="night-theme-icon">
      {{#if this.isNightTheme}}
        <FaIcon @icon="moon"/>
      {{else}}
        <FaIcon @icon="sun"/>
      {{/if}}
    </div>

</Toggle>