  <div class='expectationResults' >
    {{#each expectations as |result|}}
      <div class="goal">
        {{paper-icon "radio_button_unchecked"}}
        {{markdown-to-html result.description.forControlGroup}}
      </div>
    {{/each}}
  </div>