  <div class='expectationResults' >
    {{#each expectations as |result|}}
      <p>
        {{paper-icon "radio_button_unchecked"}}
        {{result.description.forControlGroup}}
      </p>
    {{/each}}
  </div>