<RPaperCard class="phone-rotation paper-card">
    <span class={{if this.modoLecturaSimple "uppercase" ""}}>
        {{t "components.phoneRotationWarning.rotate"}}
    </span>
    <img src='imagenes/phone-rotation.png' />
    <span class={{if this.modoLecturaSimple "uppercase" ""}}>
        {{t "components.phoneRotationWarning.widerScreen"}}
    </span>
</RPaperCard>