<PaperCard class="phone-rotation">
    <span class={{if modoLecturaSimple "uppercase" ""}}>
        Intentá rotar el celular
    </span>
    <img src='imagenes/phone-rotation.png' />
    <span class={{if modoLecturaSimple "uppercase" ""}}>
        Pilas Bloques necesita una pantalla más ancha
    </span>
</PaperCard>