<PaperCard class="phone-rotation flex layout-column">
    <span class={{if modoLecturaSimple "phone-rotation-title-uppercase" "phone-rotation-title"}}>Intentá rotar el celular.</span>
    <img class="phone-rotation-img" src='imagenes/phone-rotation.png' />
    <span class={{if modoLecturaSimple "phone-rotation-text-uppercase" "phone-rotation-text"}}>Pilas Bloques necesita una pantalla más ancha.</span>
</PaperCard>