<style media="screen">
  canvas {
    border: 1px solid red;
  }
</style>

<canvas id="canvas" width="300" height="300">
</canvas>

<div class='titulo'>
    Este canvas se llama <strong>{{nombre}}</strong> y es obra de <strong>{{usuario}}</strong>.
</div>


{{yield}}
