{{#if cargando}}
    <Spinner @centered={{true}} />
{{/if}}
<div class={{if shouldUseFloatingMode "iframe-container-collapsed" "iframe-container"}} >
    <iframe src="pilas.html" id="innerIframe"></iframe>
</div>