
<div class='pilas-blockly-botones'>
  <button class='btn btn-warning' {{action 'reiniciar'}}>Reiniciar</button>
  <button class='btn btn-success' {{action 'ejecutar'}}>Ejecutar</button>
  <button class='btn btn-warning' {{action "ver_codigo"}}>Ver Codigo</button>
</div>

<xml id="toolbox" style="display: none">
    <category name="Control">
    </category>
</xml>


<div id="contenedor-blockly" style="height: 300px; width: 500px;"> </div>
