{{yield}}

<input type='file' id="cargarActividadInput" accept=".spbq" class="hidden"/>
<a id="placeholder" class="hidden">..</a>

<button class='btn btn-default' {{action "alPulsar"}}><i class="fa fa-folder-open-o"></i> Abrir</button>
