{{yield}}

<label class="switch" title="Modo Turbo">
    <{{input type="checkbox" id="modoTuboHabilitado" disabled=isDisabled  checked=isChecked}}>
        <span class="slider round"><i class="slider-icon {{icon}}"></i></span>
</label>