{{yield}}

<input type='file' id="cargarActividadInput" class="hidden"/>
<a id="placeholder" class="hidden">demo</a>

<button class='btn btn-default' {{action "alPulsar"}}><i class="fa fa-folder-open-o"></i> Abrir</button>
