<div class="pilas-notificador {{if hayActualizacion 'pilas-notificador-visible' 'pilas-notificador-oculto'}}">
  <div class="pilas-notificador-cerrar" {{action "cerrar"}}><i class="fa fa-close"></i></div>

  <p>Hay una nueva versi칩n disponible para descargar.</p>
  <p>Visit치 {{#pilas-link href=linkDescarga}}nuestra web para m치s informaci칩n.{{/pilas-link}}</p>

  {{yield}}
</div>
