{{yield}}

<label class="switch" title={{tooltip}}>
    <input type="checkbox" id=element-id disabled=isDisabled  checked=isChecked>
        <span class="slider round"><i class="slider-icon {{icon}}"></i></span>
</label>