<div class={{if shouldUseFloatingMode "iframe-container-collapsed" "iframe-container"}}>
    {{#if cargando}}
        <Spinner @centered={{true}}/>
    {{/if}}
    <iframe src="pilas.html" id="innerIframe"></iframe>
</div>