{{yield}}

<h1>Acerca de Pilas Bloques</h1>

<p>
  Pilas Bloques es una aplicación para aprender a programar.
</p>
<p>
  Se proponen desafíos con diversos niveles de dificultad para acercar a los alumnos al mundo de la programación por medio de bloques.
</p>

<h2>
  ¿Qué es programar por medio de bloques?
</h2>

<p>
  Es desarrollar programas con acciones e instrucciones incorporadas en bloques o piezas prediseñadas. El resultado de encastrar los bloques entre sí es el programa que resuelve el problema ó desafío planteado.
</p>

<h2>
  ¿Por qué es positiva esta modalidad de aprendizaje?
</h2>

<ul>
  <li>
    Porque cada <b>concepto</b> abstracto asociado a la programación tiene su representación <b>visual</b>.
  </li>
  <li>
    Porque ahorra las <b>dificultades</b> que genera la sintaxis formal de un lenguaje <b>escrito</b> (¡y la frustración cuando cometemos un error al escribir!). Los bloques se seleccionan, arrastran, encastran y listo.
  </li>
</ul>

<h2>
  ¿En qué se diferencia Pilas Bloques de otras herramientas?
</h2>

<p>
  La principal diferencia es que esta plataforma fue pensada para <b>acompañar una secuencia didáctica</b> para el aprendizaje de la programación en la escuela.
</p>

<h2>
  ¿Qué es una secuencia didáctica?
</h2>

<p>
  Es el plan mediante el cual se propone aprender un tema. La secuencia didáctica de Pilas Bloques fue ideada y probada por docentes e investigadores argentinos. Hoy en día, esta propuesta se está profundizando y ampliando. Conocé más sobre las iniciativas que estamos abordando en {{#pilas-link href='http://program.ar/comunidad-conocimiento/'}}Comunidad de conocimiento{{/pilas-link}}.
</p>

<h2>
  ¿Quién puede hacer los desafíos de Pilas Bloques?
</h2>
<p>
  Los desafíos pueden ser realizados por niños de 3 a 99 años. Sin embargo, <b>a partir de los 10 u 11 años</b> los contenidos se podrán aprovechar por completo.
</p>

<h2>
  ¿Y cualquiera puede hacer los desafíos por su cuenta?
</h2>

<p>
  La herramienta está pensada como <b>ayuda al docente y al alumno</b> en el proceso de aprendizaje de la programación en un entorno escolar. En la secuencia didáctica que se plantea, la <b>indagación</b> autodidacta es fundamental. Nuestra recomendación, no obstante, es que el docente sea el que <b>guíe</b> y asista el proceso de aprendizaje del alumno.
</p>

<h2>
  Sobre los autores y Program.AR
</h2>

<p>
  Pilas Bloques fue desarrollada por {{#pilas-link href='http://program.ar/'}}Program.AR{{/pilas-link}} - {{#pilas-link href='http://www.fundacionsadosky.org.ar/'}}Fundación Sadosky{{/pilas-link}} con la colaboración de {{#pilas-link href='http://huayra.conectarigualdad.gob.ar/'}}Huayra{{/pilas-link}}. Esta aplicación hace uso de la herramienta {{#pilas-link href='http://pilas-engine.com.ar/'}}Pilas Engine{{/pilas-link}} de {{#pilas-link href='https://github.com/hugoruscitti'}}Hugo Ruscitti{{/pilas-link}}.
</p>
<p>
  La secuencia didáctica que guía la herramienta fue elaborada por {{#pilas-link href='http://program.ar/'}}Program.AR{{/pilas-link}}, y puede encontrarse junto con otros materiales en la página web. Contó con el apoyo y la colaboración de la Universidad Nacional de Quilmes y otras universidades nacionales de Argentina.
</p>
<p>
  Program.AR es una iniciativa que trabaja para que el aprendizaje significativo de Computación esté presente en todas las escuelas argentinas. Más información: {{#pilas-link href='http://program.ar/por-que-ciencias-de-la-computacion/'}}http://program.ar/por-que-ciencias-de-la-computacion/{{/pilas-link}}
</p>
