{{yield}}

{{#link-to "libros.verLibro" libro}}

  {{#if libro.nombre}}
    <img src="imagenes/libros/{{libro.nombre}}.png"/>
  {{/if}}

  <h2>{{libro.titulo}}</h2>
{{/link-to}}

<p>{{libro.descripcion}}</p>
