
<h1>Acerca de Pilas Bloques</h1>

<p>
  Pilas Bloques es una nueva aplicación desarrollada para aprender
  a programar.
</p>

<p>
  Encontrarás desafíos con diversos niveles de dificultad que te
  acercarán al mundo de la programación por medio de bloques.
</p>

<h2>
  ¿Cualquiera puede hacer los desafíos de Pilas Bloques?
</h2>

<ul>
  <li>
    Sí. Los desafíos de Pilas Bloques pueden ser realizados por niños entre 3 y 99 años. Sin embargo, a partir de los <b>10 ú 11 años de edad</b> aproximadamente, se podrán aprovechar por completo los contenidos.
  </li>
</ul>

<h2>
  ¿Puedo hacer los desafíos completamente por mi cuenta?
</h2>

<ul>
  <li>
    No se recomienda. La herramienta está pensada como <b>ayuda al docente y al alumno</b> en el proceso de aprendizaje de la programación. La <b>indagación</b> autodidacta del alumno es tan importante como <b>la guía</b> del docente.
  </li>
</ul>

<h2>
  ¿En qué se diferencia Pilas Bloques de otras herramientas?
</h2>

<ul>
  <li>
    Pilas Bloques tiene varias diferencias y varias similitudes con muchas herramientas, pero la diferencia más importante es que fue pensada para <b>acompañar una secuencia didáctica</b> para el aprendizaje de la programación.
  </li>
</ul>

<h2>
  ¿Qué es una secuencia didáctica?
</h2>

<ul>
  <li>
    Una secuencia didáctica es el "plan" mediante el cual se propone aprender un tema. La secuencia didáctica de Pilas Bloques fue ideada y probada (y sigue creciendo y poniéndose en práctica) por docentes e investigadores argentinos.
  </li>
</ul>

<h2>
  ¿Por qué impulsamos la enseñanza y el aprendizaje de las ciencias de la computación?
</h2>
<ul>
  <li>Porque este tipo de estudios contribuye al desarrollo de habilidades fundamentales.</li>
  <li>Porque nos ayuda a comprender cómo funciona el mundo.</li>
  <li>Porque el acercamiento temprano a este tipo de conocimientos ayuda a despertar vocaciones en carreras afines.</li>
  <li>Porque Argentina tiene condiciones para estar entre los países líderes de la era digital.</li>
</ul>

<h2>
  ¿Qué es programar con bloques?
</h2>

<ul>
  <li>
  Es desarrollar programas con
  acciones e instrucciones incorporadas en bloques o piezas
  prediseñadas. Tendrás que seleccionar y “encastrar” las piezas
  adecuadas para lograr que el programa resuelva la
  actividad propuesta.
</li>
</ul>

<h2>
  ¿Por qué es positivo enseñar y aprender a programar en bloques?
</h2>

<ul>
  <li>Cada concepto abstracto asociado a la programación que se pone en juego tiene su representación visual.</li>
  <li>Ahorra las dificultades que genera la sintaxis formal de un lenguaje escrito.
Los bloques se arrastran y encastran, evitan los errores de escritura que puede general el teclado.</li>
</ul>

<h2>Sobre los autores</h2>
<p>
  La secuencia didáctica que guía la herramienta fue ideada y sigue siéndolo en {{#pilas-link href='http://program.ar/'}}Program.AR{{/pilas-link}} - {{#pilas-link href='http://www.fundacionsadosky.org.ar/'}}Fundación Sadosky{{/pilas-link}} y en diversas universidades de todo el territorio, particularmente la Universidad Nacional de Quilmes.
</p>
<p>
  Esta aplicación fue desarrollada en forma conjunta por {{#pilas-link href='http://huayra.conectarigualdad.gob.ar/'}}Huayra{{/pilas-link}} y {{#pilas-link href='http://program.ar/'}}Program.AR{{/pilas-link}} - {{#pilas-link href='http://www.fundacionsadosky.org.ar/'}}Fundación Sadosky{{/pilas-link}}.<br>
 Pilas Bloques hace uso de la herramienta {{#pilas-link href='http://pilas-engine.com.ar/'}}Pilas Engine{{/pilas-link}} de {{#pilas-link href='https://github.com/hugoruscitti'}}Hugo Ruscitti{{/pilas-link}}.</p>
