<xml id="toolbox" style="display: none">
    <category name="Control">
    </category>
</xml>

<button class='btn btn-warning' {{action 'reiniciar'}}>Reiniciar</button>
<button class='btn btn-success' {{action 'ejecutar'}}>Ejecutar</button>
<button class='btn btn-warning' {{action "ver_codigo"}}>Ver Codigo</button>

<div id="contenedor-blockly" style="height: 480px; width: 600px;">
</div>
