<div class={{if this.shouldUseFloatingMode "iframe-container-collapsed" "iframe-container"}}>
    {{#if this.cargando}}
        <Spinner @centered={{true}}/>
    {{/if}}
    <iframe src="pilas.html" id="innerIframe"></iframe>
</div>