<h1>
   <img src="imagenes/surveyLogoLita.png" alt="Lita"> 
   <ins>¡ Ahora Pilas Bloques permite <Link @href={{href-to "register"}} @openOnNewTab={{false}}>registrarse</Link>!</ins> 
   <img src="imagenes/surveyLogoCoty.png" alt="Coty">
</h1>
<p>Hacerlo es <b><ins>completamente opcional</ins></b>, nos ayuda para poder mejorar Pilas Bloques y te permite suspender tu trabajo y retomarlo desde donde lo habías dejado la primera vez que entres.</p>