<h3>
	¡ Ahora Pilas Bloques permite <Link @href={{href-to "register"}} @openOnNewTab={{false}}>registrarse</Link>! 
</h3>
<p>
	Hacerlo es <b>completamente opcional</b>, nos ayuda para poder mejorar Pilas Bloques y te permite suspender tu trabajo y retomarlo desde donde lo habías dejado.
</p>
