  <div class='expectationResults' >
    {{#each this.allPassedExpects as |result|}}
      <div class='goal passed'>
        <RPaperIcon @iconName="check-circle"/>
        {{markdown-to-html result.description.asScoring}}
      </div>
    {{/each}}
    {{#each this.failedExpects as |result|}}
      <div class='goal failed'>
        <RPaperIcon @iconName="arrow-circle-right"/>
        {{markdown-to-html result.description.asScoring}}
      </div>
    {{/each}}
  </div>