  <div class='expectationResults' >
    {{#each allPassedExpects as |result|}}
      <p class='passed'>
        {{paper-icon "check-circle"}}
        {{result.description.asScoring}}
      </p>
    {{/each}}
    {{#each failedExpects as |result|}}
      <p class='failed'>
        {{paper-icon "arrow-circle-right"}}
        {{result.description.asScoring}}
      </p>
    {{/each}}
  </div>