<PaperMenu @offset="5 47" as |menu|>
    <menu.trigger>
        <PaperButton id="settings-menu" class="md-menu-origin" @iconButton={{true}} @onClick={{action "requestFocus" "settings-menu"}}>
            {{paper-icon "settings"}}
        </PaperButton>
    </menu.trigger>
    <menu.content as |content|>
        <content.menu-item>
            <span class="menu-item-typography">Modo Nocturno: </span>
            <NightModeToggle />
        </content.menu-item>
    </menu.content>
</PaperMenu>