{{#if shouldOpen}}

<Modal @title="Terminos y condiciones de uso" @onClose={{action "rejectTerms"}} @clickOutsideToClose={{false}}>
  <div>Para la Fundación Sadosky tu privacidad y la de tus hijas/os es muy importante.
  Por eso te pedimos que leas y aceptes nuestros <TermsAndConditionsLink /> para poder usar Pilas Bloques.</div>
  <div>
    <Button @onClick={{action "acceptTerms"}}> Acepto los terminos y condiciones de uso </Button>
  </div>
</Modal>

{{/if}}