<div>
  <code class="show-version">{{app-version versionOnly=true}}</code>
  <Link @href={{concat 'https://github.com/Program-AR/pilas-bloques/tree/' (app-version shaOnly=true) }}>
  {{app-version shaOnly=true}}</Link>
</div>