.react-scrollable-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 150px;
  width: 400px;
  overflow-y: scroll;
  border: #ddd solid 1px;
}

.react-scrollable-list-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding: 5px;
  background-color: #f2f2f2;
  border-bottom: #ddd solid 1px;
  pointer-events: none;
}