:root {
    --theme-background-color:#f8f8f8;
    --theme-font-color:#777777;
    --theme-background-secondary-color:#f1f1f1;
    --theme-container-background-color:#dfdbdb;
    --theme-modal-background-color:#ffffff;
    --theme-button-background-color:#f5f5f5;
    --theme-button-hover-background-color:#dfdbdb;
    --theme-menu-color:#f8f8f8;
    --breadcrumb-border-color:#cacaca;
    --breadcrumb-hover-color:#c0c0c0;
    --breadcrumb-selected-color:rgb(247, 227, 55);
    --theme-tab-icon-color:#777777;
    --theme-tab-icon-disabled-color:#beb8b8;
    --theme-list-selection-hover-color:#beb8b8;
  }  