[theme='dark'] {
  --theme-programar-logo:url("../imagenes/programar-dark-logo.svg");
  --theme-background-color:#202020;
  --theme-font-color:#f8f8f8;
  --theme-background-secondary-color:#181818;
  --theme-container-background-color:#323232;
  --theme-modal-background-color:#323232;
  --theme-button-background-color:#323232;
  --theme-button-hover-background-color:#585858;
  --theme-menu-color:#202020;
  --breadcrumb-border-color:#181818;
  --breadcrumb-hover-color:#585858;
  --breadcrumb-selected-color:#808080;
  --theme-tab-icon-color:#f8f8f8;
  --theme-tab-icon-disabled-color:#585858;
  --theme-list-selection-hover-color:#585858;
  --code-background-color:#928787;
  --theme-box-container-color:#323232;
  --theme-link-color: #4ec2df;
  --theme-passed-color: lightgreen;
  --theme-failed-color: #ff6363;
  --theme-control-color: #b2c2ff;;
}  