@import "bug-report-modal.scss";
@import "button.scss";
@import "challenge-workspace.scss";
@import "challenge-workspace-buttons.scss";
@import "congratulations-modal.scss";
@import "disclaimer-principal.scss";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import 'ember-paper';
@import "fireworks.scss";
@import "font-awesome.scss";
@import "footer.scss";
@import "header.scss";
@import "modal.scss";
@import "night-mode-toggle.scss";
@import "pilas-blockly.scss";
@import "pilas-canvas.scss";
@import "ribbons.scss";
@import "scene.scss";
@import "scene-buttons.scss";
@import "scene-details.scss";
@import "spinner.scss";
@import "splitter.scss";
@import "toggle.scss";

[data-ember-action] {
    cursor: pointer;
}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

:root {
  --theme-background-color:#f8f8f8;
  --theme-font-color:#777777;
  --theme-background-secondary-color:#f1f1f1;
  --theme-container-background-color:#dfdbdb;
  --theme-modal-background-color:#ffffff;
  --theme-button-background-color:#f5f5f5;
  --theme-button-hover-background-color:#dfdbdb;
  --list-selection-hover-color:#beb8b8;
}

[theme='dark'] {
  --theme-background-color:#202020;
  --theme-font-color:#f8f8f8;
  --theme-background-secondary-color:#181818;
  --theme-container-background-color:#323232;
  --theme-modal-background-color:#323232;
  --theme-button-background-color:#323232;
  --theme-button-hover-background-color:#585858;
  --list-selection-hover-color:#585858;
}

.ember-application {
  background-color: var(--theme-background-secondary-color);
}

.expand-full-width-height {
  position: relative;
  width: 100%;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.menu-button-typography {
  padding-left: 30px;
  padding-right: 8px;
}

.menu-button-icon {
  position: absolute;
  padding-top: 5px !important;
}

.button-typography {
  padding-right: 8px;
}

input, textarea {
  -webkit-touch-callout:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}

.nw-zoom {
  display: inline-block;
  margin-right: 10px;
  margin-left: 30px;
}

.btn-rect {
  width: 40px;
  height: 34px;
}

span.url {
  color: rgb(180, 180, 180);
  padding-right: 20px;
}

.spinner {
  margin: 1em;
}
.galeria-juego {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  border: 1px solid gray;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.galeria-juego-preview {
  max-height: 200px;
  max-width: 200px;
}

.galeria-juego-titulo {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(247, 247, 247, 0.72);
  border-top: 1px solid gray;
}

.galeria-juego-acciones {
  position: absolute;
  top: 2px;
  right: 2px;
}

.contenido-principal {
  top: 51px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  padding: 20px;
  background-color: var(--theme-modal-background-color);
  color: var(--theme-font-color);
}

.jumbotron {
  background-color: var(--theme-modal-background-color);
  color: var(--theme-font-color);
}

.table-preferencias td, .table-preferencias th {
  border: 0 !important;
}

.etiqueta {
  width: 100px !important;
}

.modal-backdrop {
  z-index: 5000;
}

.modal {
  z-index: 20000;
}

.fila-opcion {
  font-size: 18px;
  font-family: "Source Sans Pro";
  font-weight: 300;
  padding: 10px;
}

.absolute {
  position: absolute;
  left: 10px;
  right: 0px;
  bottom: 10px;
  top: 55px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.desafio {
  display:inline-block;
  position:relative;
  width: 180px;
  height: 162px;
  margin: 10px;
  overflow: hidden;
  border: 1px solid gray;
  background-color: #eee;
}

.desafio-img {
  width: 180px;
  height: 162px;
}

/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.semi-transparente {
  opacity: 0.3;
}

.pilas-desafio-titulo {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  color: black;
  text-shadow: 0px 0px 3px white;
}

.right {
  float: right;
}

.border-rigth {
  margin-right: 10px;
}

.modal-inline-block {
  display: inline-block;
  width: 260px;
}

.modal-mensaje-compartir {
  width: 100%;
  resize: none;
}

.float-left {
  float: left;
}

.compartir-mensaje {
  background-color: rgb(255, 255, 215);
  border: 1px solid rgb(255, 255, 103);
  border-radius: 10px;
  padding: 10px;
}

.box {
  font-size: 18px;
  box-shadow: 0 0 10px rgb(180, 180, 180);
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.box p {
  font-size: 21px;
}

.em-modal {
  background-color: hsla(0, 0%, 0%, 0.44) !important;
}

.page-container {
  padding-top: 50px;
}

.dialogoFinDesafio, .dialogoAjustado {
  width: 500px;
  height: 300px;
  max-height: 85%;
}

.dialogoAjustado {
  height: 250px;
}

#preguntaPorProblemas {
  font-size: small;
  text-align: right;
  color: #1f629c;
}

.img-border {
  border: 2px solid rgb(123, 123, 123);
  margin: 20px;
}


.page-container li {
  font-size: 18px;
  font-family: "Source Sans Pro";
  font-weight: 300;
}

.pilas-update {
  display: inline-block;
}

.margin {
  margin: 3px;
}

.modal-consigna {
  font-size: 17px;
  padding: 1em;
}

.pilas-automatic-update {
  display: inline-block;
  margin-right: 15px;
  padding-top: 4px;
}

.pilas-automatic-update a {
  color: rgb(184, 134, 42) !important;
  text-decoration: none !important;
  font-family: "Source Sans Pro" !important;
}

.pilas-automatic-update a:hover {
  color: orange !important;
}

.tip-block {
  border: 1px solid rgb(201, 198, 249);
  background-color: rgb(223, 255, 254);
  margin-bottom: 15px;
  text-align: left;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.panel-ayuda p {
  text-align: left;
}

h2 {
  font-size: 24px;
  margin-top: 38px;
  font-weight: 200;
}

.contenedor-acercade li {
  font-size: 18px;
  font-family: "Source Sans Pro";
  font-weight: 300;
}

.contenedor-panel-ayuda {
  overflow-y: auto;
  position: absolute;
  bottom: 3px;
  margin-top: 5px;
  top: 480px;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.blocklyTreeSeparator {
  border-bottom: solid black 0px !important;
}

.puede-seleccionar * {
  -webkit-touch-callout:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}

.text-center {
  text-align: center;
}

.pilas-cargando-container {
  width: 110px;
  margin: auto;
  padding-left: -50px;
  margin-top: 2em;
}

.main-logo {
  max-width: 100%;
  height: auto;
}

table {
    height: 100%;
    width: 100%;
}

.hidden {
  display: none;
}

.pilas-notificador {
  position: fixed;
  background-color: #ffffd3;
  z-index: 2000;
  border-top: 0;
  padding: 5px;
  left: 50%;
  right: 50%;
  width: 400px;
  margin-left: -200px;
  box-shadow: 0 0 10px;
  border-radius: 7px;
  padding-top: 15px;
  top: -8px;
  transition: top 0.3s;
}

.pilas-notificador p {
  font-size: 16px;
  text-align: center;
}

.pilas-notificador-cerrar {
  position: absolute;
  right: 10px;
  color: gray;
}

.pilas-notificador-visible {
  top: -8px;
}

.pilas-notificador-oculto {
  top: -100px;
}

a:hover {
  cursor: pointer;
}

.pilas-libro-contenedor {
  display: inline-block;
  background-image: url('../imagenes/pilas-libro.png');
  background-repeat: no-repeat;
  background-position: center top;
  width: 388px;
  text-align: center;
  padding-top: 20px;
}

.pilas-libro-contenedor h2 {
  margin: 0;
  font-size: 20px;
}

.pilas-libro-contenedor img {
  margin: auto;
  display: block;
}

.pilas-libro-contenedor p {
  padding-top: 3px;
  font-style: italic;
}

.mensaje-sin-desafios {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 10px;
  margin: 40px;
  margin-left: 1em;
  width: 400px;
}

.nota {
  background-color: rgba(255, 255, 0, 0.15);
  border: 1px solid #ffb300;
  padding: 1em;
  margin: 1px;
  color: hsla(29,65%,50%,1);
  border-radius: 6px;
}

.pilas-libro-contenedor a:hover {
  text-decoration: none;
}

.panel-ayuda {
  padding-right: 15px;
}

.center {
  text-align: center;
}

.aplicar-modo-lectura-simple,
.aplicar-modo-lectura-simple button // esta regla es necesaria para evitar que la sobreescriba Bootstrap
{
  text-transform: uppercase !important;
}

.blocklyText {
  font-family: Arial, sans-serif !important;
}