@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import 'ember-paper';
@import 'ember-paper-stepper';
@import "acercade.scss";
@import "breadcrumb.scss";
@import "bug-report-modal.scss";
@import "button.scss";
@import "challengue-creator.scss";
@import "challenge-workspace.scss";
@import "challenge-workspace-buttons.scss";
@import 'challenges-book.scss';
@import "congratulations-modal.scss";
@import "expectation-modal.scss";
@import "fireworks.scss";
@import "footer.scss";
@import "header.scss";
@import "menu.scss";
@import "modal.scss";
@import "night-mode-toggle.scss";
@import "simple-read-toggle.scss";
@import "link.scss";
@import "personal-survey.scss";
@import "phone-rotation-warning.scss";
@import "pilas-blockly.scss";
@import "pilas-canvas.scss";
@import "ribbons.scss";
@import "scene.scss";
@import "scene-buttons.scss";
@import "scene-details.scss";
@import "spinner.scss";
@import "splitter.scss";
@import "themes/themes.scss";
@import "toggle.scss";
@import "session.scss";
@import "theme-config.scss";

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

$font-family: Roboto, "Helvetica Neue", sans-serif;

.application-font {
  font-size: 18px;
  font-family: $font-family;
  font-weight: 300;
}

@font-face {
  font-family: 'NotoEmoji-Bold';
  src: url("../fonts/NotoEmoji-Bold.ttf") format('truetype');
}

/*
 * Ember paper does this on its own, but requires internet.
 * So it was necessary to copy the fonts file.
 * This enables icons to load if you have no internet connection.
 *
*/
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/material_icons_V139.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.emoji {
  font-family: 'NotoEmoji-Bold', $font-family;
}

.ember-application {
  background-color: var(--theme-background-secondary-color);
}

.expand-full-width-height {
  position: relative;
  width: 100%;
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.show-version {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: var(--code-background-color);
  border-radius: 4px;
}

input, textarea {
  -webkit-touch-callout:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}

p {
  @extend .application-font;
}

.nw-zoom {
  display: inline-block;
  margin-right: 10px;
  margin-left: 30px;
}

.btn-rect {
  width: 40px;
  height: 34px;
}

span.url {
  color: rgb(180, 180, 180);
  padding-right: 20px;
}

.spinner {
  margin: 1em;
}
.galeria-juego {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  border: 1px solid gray;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.galeria-juego-preview {
  max-height: 200px;
  max-width: 200px;
}

.galeria-juego-titulo {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  background-color: rgba(247, 247, 247, 0.72);
  border-top: 1px solid gray;
}

.galeria-juego-acciones {
  position: absolute;
  top: 2px;
  right: 2px;
}

.contenido-principal {
  top: 51px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  padding: 20px;
  background-color: var(--theme-box-container-color);
  color: var(--theme-font-color);
}

.box {
  font-size: 18px;
  text-align: center;
}

.box p {
  font-size: 21px;
}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  background-color: var(--theme-box-container-color);
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.table-preferencias td, .table-preferencias th {
  border: 0 !important;
}

.etiqueta {
  width: 100px !important;
}

.fila-opcion {
  @extend .application-font;
  padding: 10px;
}

.absolute {
  position: absolute;
  left: 10px;
  right: 0px;
  bottom: 10px;
  top: 55px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.desafio {
  display:inline-block;
  position:relative;
  width: 180px;
  height: 162px;
  margin: 10px;
  overflow: hidden;
  border: 1px solid gray;
  background-color: #eee;
}

.desafio-img {
  width: 180px;
  height: 162px;
}

/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.semi-transparente {
  opacity: 0.3;
}

.pilas-desafio-titulo {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  color: black;
  text-shadow: 0px 0px 3px white;
}

.right {
  float: right;
}

.border-rigth {
  margin-right: 10px;
}

.modal-inline-block {
  display: inline-block;
  width: 260px;
}

.modal-mensaje-compartir {
  width: 100%;
  resize: none;
}

.float-left {
  float: left;
}

.compartir-mensaje {
  background-color: rgb(255, 255, 215);
  border: 1px solid rgb(255, 255, 103);
  border-radius: 10px;
  padding: 10px;
}

.em-modal {
  background-color: hsla(0, 0%, 0%, 0.44) !important;
}

.page-container {
  padding-top: 50px;
}

.dialogoFinDesafio, .dialogoAjustado {
  width: 500px;
  height: 300px;
  max-height: 85%;
}

.dialogoAjustado {
  height: 250px;
}

#preguntaPorProblemas {
  font-size: small;
  text-align: right;
  color: #1f629c;
}

.img-border {
  border: 2px solid rgb(123, 123, 123);
  margin: 20px;
}


.page-container li {
  @extend .application-font;
}

.pilas-update {
  display: inline-block;
}

.margin {
  margin: 3px;
}

.modal-consigna {
  font-size: 17px;
  padding: 1em;
}

.pilas-automatic-update {
  display: inline-block;
  margin-right: 15px;
  padding-top: 4px;
}

.pilas-automatic-update a {
  color: rgb(184, 134, 42) !important;
  text-decoration: none !important;
  font-family: $font-family !important;
}

.pilas-automatic-update a:hover {
  color: orange !important;
}

.tip-block {
  border: 1px solid rgb(201, 198, 249);
  background-color: rgb(223, 255, 254);
  margin-bottom: 15px;
  text-align: left;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.panel-ayuda p {
  text-align: left;
}

h2 {
  font-size: 24px;
  margin-top: 38px;
  font-weight: 200;
}

.contenedor-acercade li {
  @extend .application-font;
}

.contenedor-panel-ayuda {
  overflow-y: auto;
  position: absolute;
  bottom: 3px;
  margin-top: 5px;
  top: 480px;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.blocklyTreeSeparator {
  border-bottom: solid black 0px !important;
}

.puede-seleccionar * {
  -webkit-touch-callout:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}

.text-center {
  text-align: center;
}

.pilas-cargando-container {
  width: 110px;
  margin: auto;
  padding-left: -50px;
  margin-top: 2em;
}

.main-logo {
  max-width: 100%;
  height: auto;
}

table {
    height: 100%;
    width: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.hidden {
  display: none;
}

a:hover {
  cursor: pointer;
}

.challenges-book-container {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center top;
  width: 388px;
  text-align: center;
  padding-top: 20px;
}

.challenges-book-container h2 {
  margin: 0;
  font-size: 20px;
}

.challenges-book-container img {
  margin: auto;
  display: block;
}

.challenges-book-container p {
  padding-top: 3px;
  font-style: italic;
}

.mensaje-sin-desafios {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 10px;
  margin: 40px;
  margin-left: 1em;
  width: 400px;
}

.nota {
  background-color: rgba(255, 255, 0, 0.15);
  border: 1px solid #ffb300;
  padding: 1em;
  margin: 1px;
  color: hsla(29,65%,50%,1);
  border-radius: 6px;
}

.challenges-book-container a:hover {
  text-decoration: none;
}

.panel-ayuda {
  padding-right: 15px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.simple-read-mode,
.simple-read-mode button // this rule is necessary to avoid being overwritten by Bootstrap
{
  text-transform: uppercase !important;
}

.blocklyText {
  font-family: Arial, sans-serif !important;
}

md-menu-content > md-menu-item {
  color: inherit;
}

md-card {
  background-color: inherit;
}

md-toast {
  position: fixed;
  border-radius: 10rem;
}

md-toast .md-toast-content {
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  & > * {
    color: black;
  }
}

.md-stepper-indicator-wrapper {
  background-color: inherit;
}

.md-stepper-number span {
  color: white;
}

.exercise-text  {
  p {
    margin: 0;
  }
}
