html, body {
}

[data-ember-action] {
    cursor: pointer;
}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

input, textarea /*.contenteditable?*/ {
  -webkit-touch-callout:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}


.nw-zoom {
  display: inline-block;
  margin-right: 20px;
}


.btn-rect {
  width: 40px;
  height: 34px;
}


.panel-derecho {
  background-color: white;
  padding-left: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 425px;
}


span.url {
  color: rgb(180, 180, 180);
  padding-right: 20px;
}


.spinner {
  margin: 1em;
}


.galeria-juego {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
  border: 1px solid gray;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.galeria-juego-preview {
  max-height: 200px;
  max-width: 200px;
}

.galeria-juego-titulo {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(247, 247, 247, 0.72);
  border-top: 1px solid gray;
}

.galeria-juego-acciones {
  position: absolute;
  top: 2px;
  right: 2px;
}

.contenido-principal {
  top: 51px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  padding: 20px;
}

.navbar {
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.29);
  z-index: 2000;
}


.modal {
  top: 0px;
}

.table-preferencias td, .table-preferencias th {
  border: 0 !important;
}

.etiqueta {
  width: 100px !important;
}

.modal-backdrop {
  z-index: 5000;
}


.modal {
  z-index: 20000;
}

.fila-opcion {
  margin-bottom: 15px;
}


.header-right {
  position: absolute;
  right: 12px;
  top: 12px;
}

.header-button {
  color: gray;
  border: 0;
  background-color: white;
}

.header-button:hover {
  color: black;
}

.navbar-brand {
  padding: 5px 0px;
}

.absolute {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  top: 63px;
}


.desafio {
  display:inline-block;
  position:relative;
  width: 200px;
  height: 180px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px black;
}


.grayscale {
  -webkit-filter: grayscale(100%);
}




/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar */
body {
}

body,
.navbar-fixed-top,
.navbar-fixed-bottom {
  min-width: 970px;
}

/* Don't let the lead text change font-size. */
.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}


/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
 */

/* Reset the container */
.container {
  width: 970px;
  max-width: none !important;
}

/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86,61,124,.15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group > .form-control {
  width: 100%;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}


.navbar {
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
}

.semi-transparente {
  opacity: 0.3;
}

.pilas-blockly-botones {
  margin-bottom: 5px;
}


.pilas-desafio-titulo {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
