html, body {
  margin: 20px;
}

[data-ember-action] {
    cursor: pointer;
}

* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

input, textarea /*.contenteditable?*/ {
  -webkit-touch-callout:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
}


.nw-zoom {
  display: inline-block;
  margin-right: 20px;
}


.btn-rect {
  width: 40px;
  height: 34px;
}


.panel-derecho {
  background-color: white;
  padding-left: 10px;
}
