$breadcrumb-size: 30px;

.breadcrumb {
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  list-style:none;
}

.breadcrumb  li {
  float: left;
}

.breadcrumb li a {
  background-color: var(--theme-container-background-color);
  border: 2px var(--breadcrumb-border-color) solid;
  border-radius: $breadcrumb-size;
  color: var(--theme-font-color);
  font-size: 15px;
  margin-left: -$breadcrumb-size;
  padding: 5px;
  padding-left: $breadcrumb-size + 2;
  padding-right: $breadcrumb-size * 0.5;
  text-decoration: none;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  max-width: none;
  text-overflow: ellipsis;
  transition:all .4s;
}

@media (max-width: 1000px) {
  .breadcrumb li a {
    max-width: 200px;
  }
}

@media (max-width: 900px) {
  .breadcrumb li a {
    max-width: 150px;
  }
}

@media (max-width: 850px) {
  .breadcrumb li a {
    max-width: 100px;
  }
}

.breadcrumb li a:hover {
  background-color: var(--breadcrumb-hover-color);
}

.breadcrumb .breadcrumb-initial-item a {
  padding-top: 0px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
}

.breadcrumb .breadcrumb-initial-item a .material-icons {
  padding: 1.5px;
}

.breadcrumb .breadcrumb-selected-item a {
  background-color: var(--breadcrumb-selected-color);
  max-width:none;
}

.breadcrumb .breadcrumb-selected-item a:hover {
  background-color: var(--breadcrumb-selected-color);
}