.exercise-details {
  align-self: flex-start;
  width: 100%;
  height: 100%;
}

.pilas-blockly {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.pilas-blockly-container {
  position: inherit;
  height: 73vh;
  width: 100%; 
}

.pilas-blockly-container-collapsed {
  position: inherit;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: calc(100vh - 88px);
}

#draggable {
  position: inherit;
  z-index: 20;
}