.exercise-details {
  align-self: flex-start;
  width: 100%
}

.pilas-blockly {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.pilas-blockly-container {
  height: calc(100vh - 230px);
}

#draggable {
    position: fixed;
    cursor: move;
    z-index: 20;
}