.details-card {
    position: inherit;
    border-radius: 10px;
}

.details-card md-card-title {
    overflow-y: auto;
    max-height: 100px;
    padding-top: 5px;
    padding-left: 39px;
    padding-right: 10px;
    padding-bottom: 2px;
}

.exercise-cover {
    position: inherit;
    width: 118px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tab {
    background-color: #f1f1f1;
    height: 100px;
}

.tab .md-button {
    width: 50px;
    min-width: 50px;
}

.tab .clue-button {
    transform: rotate(180deg);
}