.exercise-card {
    position: inherit;
    border-radius: 10px;
    z-index: 99;
    // width:  calc(420px * (100vw / 100vh));
    // width: 420px;
    // width: 100%;
    // max-width: 480px;
    // width: calc(420px - (100vh * 0.21)); 
}

.pilas-canvas {
    position: relative;
    overflow: hidden;
    // width:  calc(420px * (100vw / 100vh));
    // height: calc(480px * (100vw / 100vh));
    // width: 420px;
    // height: 480px;
    width: calc(420px - (100vh * 0.21));
    height: calc(480px - (100vh * 0.21));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.exercise-actions {
    position: relative;
}

.exercise-actions .step-by-step-button-container .md-button {
    color:#fff;
    background-color:#31b0d5;
    border-color:    #269abc;
}

.exercise-actions .step-by-step-button-container md-icon.md-default-theme {
    color:#fff;
}

.exercise-actions .step-by-step-button-container .md-button:hover {
    cursor: not-allowed;
}

.exercise-actions .step-by-step-button-container .md-button:not([disabled]):hover {
    background-color:#269abc;
    cursor: pointer;
}

.exercise-actions .restart-button-container .md-button {
    color:#fff;
    background-color:#ec971f;
    border-color:    #d58512;
}

.exercise-actions .restart-button-container md-icon.md-default-theme {
    color:#fff;
}

.exercise-actions .restart-button-container .md-button:hover {
    cursor: not-allowed;
}

  
.exercise-actions .restart-button-container .md-button:not([disabled]):hover {
    background-color:#d58512;
    cursor: pointer;
}

.exercise-actions .run-button-container .md-button {
    color:#fff;
    background-color:#449d44;
    border-color:    #398439;
}

.exercise-actions .run-button-container md-icon.md-default-theme {
    color:#fff;
}

.exercise-actions .run-button-container  .md-button:hover {
    cursor: not-allowed;
}

  
.exercise-actions .run-button-container .md-button:not([disabled]):hover {
    background-color:#398439;
    cursor: pointer;
}

.toggle-container {
    padding-top: 7px;
    padding-right: 7px;
}

.pilas-canvas-buttons {
    position: inherit;
    float:right;
    margin-top: -53px;
}

.tip-button .material-icons {
    transform: rotate(180deg);
    color: #f9bd38;
}