
.expectationsModal {
    text-align: center;
    p {
        margin: 1vh;
    }
}
.expectationResults {
    md-progress-linear {
        margin: 1rem;
        margin-left: 0;
        margin-bottom: 2rem !important;
        .md-container, .md-bar {
            height: 15px;
            border-radius: 10px;
        }
        .md-bar2 {
            background-image: linear-gradient(to bottom, green, rgb(0, 61, 0));
        }
    }
    p.good {
        color: green;
    }
    md-icon[md-font-icon] {
        color: inherit;
    }
}