.app-footer {
    background-color: var(--theme-background-secondary-color);
}

.footer {
    background-color: var(--theme-background-color);
    color: var(--theme-font-color);
    margin-bottom: 5px;
}

.footer-card {
    position: inherit;
    border-radius: 10px;
}

.footer .md-button {
    font-size: 11px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer md-icon[md-font-icon] {
    color: var(--theme-font-color);
}

.footer .app-version {
    padding-left: 20px;
    margin-bottom: 0px;
    margin-top: 7px;
}

.footer .app-version .version-number {
    font-weight: bold !important;
}

.program-ar-logo {
    padding-top: 9px;
    padding-left: 15px;
}

.program-ar-logo-img {
    height: 20px;
}