.footer {
    background-color: #f8f8f8 !important;
}

.footer-card {
    position: inherit;
    border-radius: 10px;
}

.footer .md-button {
    font-size: 11px;
    margin-top: 8px;
}

.footer .app-version {
    padding-left: 15px;
}

.footer .app-version .version-number {
    font-weight: bold !important;
}