$header-height: 45px;

.header {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: var(--theme-background-color);
    color: var(--theme-font-color);
    min-height:$header-height !important;
    height: $header-height !important;
}

.md-toolbar-tools {
    height: $header-height;
    max-height: $header-height;
}

md-toolbar:not(.md-menu-toolbar) .material-icons {
    color: var(--theme-font-color);
}

.pilas-bloques-logo {
    padding-top: 12px;
}

.program-ar-logo {
    padding-top: 5px;
}