  md-dialog {
    max-width: 800px !important;
    width: 800px !important;
    overflow-x: hidden;
    background-color: var(--theme-modal-background-color) !important;
    color: var(--theme-font-color) !important;
}

.wallpaper {
  background-image:
       linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  ),
  url("/imagenes/wallpapers/coty-wallpaper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  overflow:hidden;
}

.wallpaper-title {
  width:400px;
  color: #ebe924;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
}

.wallpaper-text {
  width:450px;
  color: #ebe924;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
}

.wallpaper-arrow {
  position: absolute;
  width:60px;
  height:80px;
  animation-name: example;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%    {transform: translateX(650px) translateY(-110px)}
  100%  {transform: translateX(650px) translateY(-75px)}
}

.wallpaper-button {
  cursor: pointer;
  color: #ebe924;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
}