.details-card {
    background-color: var(--theme-background-color);
    color: var(--theme-font-color);
    position: inherit;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
}

.details-card p {
    overflow-y: auto;
    max-height: 80px;
    padding-left: 9px;
    padding-bottom: 0px !important;
    margin: 0px;
}   

.details-card button {
    display: flex;
    justify-content: center;
}

.exercise-cover {
    position: inherit;
    width: 100px;
    height: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tab {
    background-color: var(--theme-container-background-color);
    justify-content: space-evenly;
    height: 80px;
}

.tab .md-button {
    width: 50px;
    min-width: 50px;
    margin: 0px!important;
    padding: 0px !important;
}

.tab md-icon[md-font-icon] {
    color: var(--theme-tab-icon-color);
}

.tab .clue-button span {
    color: #ebca14;
    line-height: 24px;
    transform: rotate(180deg);
    width: auto;
}

.tab .no-clue-button span {
    color: var(--theme-tab-icon-disabled-color);
    line-height: 24px;
    transform: rotate(180deg);
    width: auto;
}

.tabcontent {
    width: 100%;
}

.tabcontent:not(.active) {
    display: none;
}

.tabcontent.active {
    display: block;
}