.button-typography {
    padding: 0px;
    padding-right: 10px;
    font-size: 15px;
    color:#fff;
}

.column-reverse{
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 7px;
    padding-left: 2px;
    padding-right: 2px;
}

.exercise-actions {
    position: inherit;
}

.exercise-actions .md-button {
    color:#fff;
    padding: 0px;
}

.exercise-actions .step-by-step-button-container .md-button {
    background-color:#31b0d5;
    border-color:    #269abc;
}

.exercise-actions .step-by-step-button-container md-icon.md-default-theme {
    color:#fff;
    margin-top : -2px;
}

.exercise-actions .step-by-step-button-container .md-button:not([disabled]):hover,
.exercise-actions .step-by-step-button-container .md-button:not([disabled]):focus {
    background-color:#269abc;
    cursor: pointer;
}

.exercise-actions .md-button[disabled] {
    background-color: #dadada;
    color: #878787;
}

.exercise-actions .md-button[disabled] md-icon.md-default-theme {
    color: #878787;
    margin-top : -2px;
}

.exercise-actions .restart-button-container .md-button {
    background-color:#ec971f;
    border-color:    #d58512;
}

.exercise-actions .restart-button-container md-icon.md-default-theme {
    color:#fff;
    margin-top : -2px;
}


.exercise-actions .restart-button-container .md-button:not([disabled]):hover,
.exercise-actions .restart-button-container .md-button:not([disabled]):focus {
    background-color:#d58512;
    cursor: pointer;
}

.exercise-actions .run-button-container .md-button {
    background-color:#449d44;
    border-color:    #398439;
}

.deactivated-button-container {
    border-color:    #6a6c6a;
}

.exercise-actions .run-button-container md-icon.md-default-theme {
    color:#fff;
    margin-top : -2px;
}

.exercise-actions .run-button-container .md-button:not([disabled]):hover,
.exercise-actions .run-button-container .md-button:not([disabled]):focus {
    background-color:#398439;
    cursor: pointer;
}

.toggle-container {
    padding-top: 7px;
    padding-right: 7px;
}

.toggle-container-collapsed .md-button {
    color:rgb(255, 238, 0);
    background-color:#4aa7f3;
    border-color:    #2196f3;
}

.toggle-container-collapsed .md-button:not([disabled]):hover,
.toggle-container-collapsed .md-button:not([disabled]):focus {
    background-color:#2196f3;
    cursor: pointer;
}

.arrow{
    position: relative;
}

.multiple-scenarios-arrow{
    position: absolute;
    text-align: center;
    z-index: 11;
}

.normal-screen-arrow{
    left: 3px;
    top: 76px;
    animation: up-down 0.5s linear infinite;
}

.normal-screen-arrow-image{
    background-image: url("../imagenes/multiple-scenarios-arrow-normal-screen.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px 10px 10px 15px
}

.full-screen-arrow-image{
    background-image: url("../imagenes/multiple-scenarios-arrow-full-screen.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15px 35px 15px 10px;
}

.full-screen-arrow{
    animation: left-rigth 0.5s linear infinite;
    top: -35px;
    left: -200px;
}

.multiple-scenarios-arrow-text {
    white-space: nowrap;
    color: black;
    font-size: 65%;
}

@keyframes left-rigth {
    0%, 100% {
      transform: translateX(-3%);
    }
  
    50% {
      transform: translateX(3%);
    }
  }

@keyframes up-down {
    0%, 100% {
      transform: translateY(-7%);
    }
  
    50% {
      transform: translateY(7%);
    }
  }