.button-typography {
    padding: 0px;
    padding-right: 10px;
    font-size: 15px;
    color:#fff;
}

.exercise-actions {
    position: inherit;
}

.exercise-actions .md-button {
    color:#fff;
    padding: 0px;
}

.exercise-actions .step-by-step-button-container .md-button {
    background-color:#31b0d5;
    border-color:    #269abc;
}

.exercise-actions .step-by-step-button-container md-icon.md-default-theme {
    color:#fff;
    margin-top : -2px;
}

.exercise-actions .step-by-step-button-container .md-button:not([disabled]):hover,
.exercise-actions .step-by-step-button-container .md-button:not([disabled]):focus {
    background-color:#269abc;
    cursor: pointer;
}

.exercise-actions .md-button[disabled] {
    background-color: #dadada;
    color: #878787;
}

.exercise-actions .md-button[disabled] md-icon.md-default-theme {
    color: #878787;
    margin-top : -2px;
}

.exercise-actions .restart-button-container .md-button {
    background-color:#ec971f;
    border-color:    #d58512;
}

.exercise-actions .restart-button-container md-icon.md-default-theme {
    color:#fff;
    margin-top : -2px;
}


.exercise-actions .restart-button-container .md-button:not([disabled]):hover,
.exercise-actions .restart-button-container .md-button:not([disabled]):focus {
    background-color:#d58512;
    cursor: pointer;
}

.exercise-actions .run-button-container .md-button {
    background-color:#449d44;
    border-color:    #398439;
}

.deactivated-button-container {
    border-color:    #6a6c6a;
}

.exercise-actions .run-button-container md-icon.md-default-theme {
    color:#fff;
    margin-top : -2px;
}

.exercise-actions .run-button-container .md-button:not([disabled]):hover,
.exercise-actions .run-button-container .md-button:not([disabled]):focus {
    background-color:#398439;
    cursor: pointer;
}

.toggle-container {
    padding-top: 7px;
    padding-right: 7px;
}

.toggle-container-collapsed .md-button {
    color:rgb(255, 238, 0);
    background-color:#4aa7f3;
    border-color:    #2196f3;
}

.toggle-container-collapsed .md-button:not([disabled]):hover,
.toggle-container-collapsed .md-button:not([disabled]):focus {
    background-color:#2196f3;
    cursor: pointer;
}