.details-card {
    position: inherit;
    border-radius: 10px;
}

.details-card md-card-title {
    overflow-y: auto;
    max-height: 80px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}   

.exercise-cover {
    position: inherit;
    width: 100px;
    height: 80px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.tab {
    justify-content: space-evenly;
    background-color: #f1f1f1;
    height: 80px;
}

.tab .md-button {
    width: 50px;
    min-width: 50px;
    margin: 0px!important;
    padding: 0px !important;
}

.tab .clue-button {
    transform: rotate(180deg);
}