.exercise-card {
    position: inherit;
    border-radius: 10px;
    z-index: 99;
    // width: 420px;
    // height: 528px;
    // width: 100%;
    // padding-top: 75%; /* 4:3 Aspect Ratio */
    // width:  calc(420px * (100vw / 100vh));
    // width: 420px;
    // width: 100%;
    // max-width: 480px;
    // width: calc(420px - (100vh * 0.21)); 
    // margin-bottom: 100%;
}

.exercise-buttons-card {
    position: inherit;
    border-radius: 10px;
}

.pilas-canvas {
    min-width:210px;
    min-height:240px;
    width: 100vw;
    height: 100vh;
    max-width:420px;
    max-height:480px;
    overflow: hidden;
}

.canvas-boder-radius {
    border-radius: 10px;
}

.canvas-boder-bottom-radius{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.canMove {
    cursor: move;
}

.pilas-canvas-scene-buttons {
    // position: inherit;
}

.pilas-canvas-scene-buttons .md-button {
    width: 50px;
    min-width: 50px;
    margin: 0px!important;
    padding: 0px !important;
}