.exercise-card {
    background-color: var(--theme-background-color);
    position: inherit;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.exercise-buttons-card {
    background-color: var(--theme-background-color);
    position: inherit;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.exercise-buttons-collapsed-card {
    background-color: var(--theme-background-color);
    position: inherit;
    min-height: calc(100vh - 70px);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pilas-canvas {
    width: 420px;   
    height: 480px;
    overflow: hidden;
}

@media (max-width: 1366px){
    .pilas-canvas {
        width: 300px;   
        height: 350px;
    }
}

@media (max-width: 1280px) {
    .pilas-canvas {
        width: 250px;   
        height: 300px;
    }
}

@media (max-width: 1024px) {
    .pilas-canvas {
        width: 250px;   
        height: 300px;
    }
}

@media (max-width: 800px) {
    .pilas-canvas {
        width: 200px;   
        height: 250px;
    }
}

.canvas-boder-radius {
    border-radius: 10px;
}

.canMove {
    cursor: move;
}

.pilas-canvas-scene-buttons .md-button {
    width: 50px;
    min-width: 50px;
    margin: 0px!important;
    padding: 0px !important;
}