.gray {
  filter: grayscale(1);
}

.login {
  display: flex;
  justify-content: space-evenly;
}

.login-item{
  flex: auto;
  text-align: center;
}

.login-item + .login-item {
  border-left: solid 1px var(--theme-font-color);
}

.login-header {
  height: 8rem;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border: 0;
  padding: 0;
}

.avatar > img {
  height: inherit;
  width: inherit;
}

.avatar > .selected {
  border-style: double;
}

.invisible-input {
  margin: 0;
  top: -2rem;
  height: 5px;
}

.invisible-input > input {
  visibility: hidden;
}

.register-form {
  max-width: 20rem;
  display: inline-block;
}

.register-form md-input-container {
  width: 320px; // Makes the input labels readable
}

// TODO: Move to someplace component-specific
.collapsable-title { 
  color: var(--theme-font-color);
  font-style: italic;
  cursor: pointer;
  margin-bottom: 18px;
}

.collapsable-title:hover {
  background-color: var(--theme-background-color);
}