# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components
pilasweb
blockly
ejerciciosPilas


# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

public/libs/data
public/libs/pilasweb.js

dist_web
dist_website

webkitbuilds

log_descompresion.log
