# compiled output
/dist*
/tmp

.DS_Store

*.swp

# dependencies
/node_modules

/blockly/
/closure-library/

# misc
/.sass-cache
/.eslintcache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
*/**/.directory

log_descompresion.log
*.pyc
/binaries/

.idea/
*.iml

.env