<h1>Acerca de Pilas Bloques</h1>

<p>
  Pilas Bloques es una nueva aplicación desarrollada para aprender
  a programar.
</p>

<p>
  Encontrarás desafíos con diversos niveles de dificultad que te
  acercarán al mundo de la programación por medio de bloques.
</p>

<h2>
  ¿Por qué impulsamos la enseñanza y el aprendizaje de las ciencias de la computación?
</h2>
<ul>
  <li>Porque este tipo de estudios contribuye al desarrollo de habilidades fundamentales.</li>
  <li>Porque nos ayuda a comprender cómo funciona el mundo.</li>
  <li>Porque el acercamiento temprano a este tipo de conocimientos ayuda a despertar vocaciones en carreras afines.</li>
  <li>Porque Argentina tiene condiciones para estar entre los países líderes de la era digital.</li>
</ul>

<h2>
  ¿Qué es programar con bloques?
</h2>

<p>
  Es desarrollar programas con
  acciones e instrucciones incorporadas en bloques o piezas
  prediseñadas. Tendrás que seleccionar y “encastrar” las piezas
  adecuadas para lograr que el programa resuelva la
  actividad propuesta.
</p>

<h2>
  ¿Por qué es positivo enseñar y aprender a programar en bloques?
</h2>

<ul>
  <li>Toda secuencia de bloques es un programa.</li>
  <li>Cada concepto abstracto asociado a la programación que se pone en juego tiene su representación visual.</li>
  <li>Ahorra las dificultades que genera la sintaxis formal de un lenguaje escrito.
Los bloques se arrastran y encastran, evitan los errores de escritura que puede general el teclado.</li>
</ul>

<h2>Sobre los autores</h2>
<p>Este programa fue desarrollado en forma conjunta por <a href='http://huayra.conectarigualdad.gob.ar/'>Huayra</a> y <a href='http://program.ar/'>Program.AR</a> - <a href='http://www.fundacionsadosky.org.ar/'>Fundación Sadosky.</a><br>
 Pilas Bloques está basado en el desarrollo previo de <a href='http://pilas-engine.com.ar/'>Pilas Engine</a> de <a href='https://github.com/hugoruscitti'>Hugo Ruscitti</a>.</p>
