[Desktop Entry]
Version=1.0
Name=pilas-engine-bloques
Comment=Comment
Exec=/usr/bin/pilas-engine-bloques
Terminal=false
Type=Application
Icon=pilas-engine-bloques
Categories=GNOME;GTK;Huayra;Network;
