#top {
  margin-top: 60px;
}

.center {
  text-align: center;
}

.jumbotron {
  margin-top: 30px;
}

.descargas {
  margin-top: 30px;
}

ul#descargas{
  list-style: none;
  margin: 0;
  padding: 10px;
}

ul#descargas li {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  font-size: 1.2em;
  padding: 20px;
  margin-top: 80px;
}


.btn-lg {
  font-size: 1.1em !important;
}

.border {
  border: 1px solid red !important;
}

.right {
  text-align: right;
}

.btn {
  margin: 5px;
}

img {
  max-width: 100%;
}

.btn:hover {
  margin-top: 3px !important;
  border-bottom-width: 4px !important;
  opacity: 0.75 !important;
}


.acercade {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
  max-width: 800px;
  margin: auto;
}

.acercade h1 {
  margin-bottom: 45px;
}

.acercade p {
  margin: 0px 0px 15px;
}


.quienes-somos {
  padding-top: 100px;
  max-width: 800px;
  margin: auto;
}

.quienes-somos h1 {
  margin-bottom: 45px;
}


img {
  height: auto;
}


img.logoProgramar {
  margin-bottom: 49px;
}
