<div class='contenido-principal'>

  <h1>:(</h1>

  <p>Lo siento, la dirección URL no se puede decodificar,
  posiblemente el parámetro <code>hash</code> tenga un error
  de formato.</p>

  <p>Por favor contacte al docente del curso para informar
  este error.</p>

</div>
