<Header/>
{{outlet}}

<div class='contenido-principal'>

  <h2>{{t "templates.desafios.desafioPorNombreError.wentWrong"}}</h2>

  <p>{{ t "templates.desafios.desafioPorNombreError.doesntExist"}}</p>

</div>
