<Header/>
{{outlet}}

<div class='contenido-principal'>

  <h2>Lo siento, algo salió mal...</h2>

  <p>No existe un desafío con el nombre indicado en la URL. ¿Podrías
    corroborar la correctitud de la dirección a este desafío?.</p>

</div>
