<Header/>
{{outlet}}

<div class='contenido-principal'>

  <h2>{{t "components.desafios.desafioPorNombreError.wentWrong"}}</h2>

  <p>{{ t "components.desafios.desafioPorNomnreError.doesntExist"}}</p>

</div>
