<div class='contenido-principal'>

  <h1>{{t "desafios"}}</h1>

  {{#each model as |grupo|}}

    {{#if grupo.desafios}}
      <h2>{{grupo.titulo}}</h2>
    {{/if}}

    {{#each grupo.desafios as |desafio|}}
      {{pilas-desafio model=desafio}}
    {{/each}}

  {{/each}}

  <div class="nota"> {{t "desafios-deshabilitados"}}</div>

</div>
