<h1>Desafíos</h1>

<p>Por el momento tenemos un solo desafío, ¡pero que desafío!</p>

{{pilas-desafio nombre='alien' titulo='El alien y las tuercas' onSelect='onSelect'}}
{{pilas-desafio nombre='ElObreroCopado' titulo='El obrero copado' onSelect='onSelect'}}
{{pilas-desafio nombre='vampiro' titulo='Pesadillas de vampiro' deshabilitado=true}}
{{pilas-desafio nombre='nave' titulo='Invasor espacial' deshabilitado=true}}
