<div class='contenido-principal'>

  <h1>Desafíos</h1>

  <p>Disfrutá de estos desafíos. ¡Muy pronto muchos más!</p>


  {{#each model as |grupo|}}

    <h2>{{grupo.titulo}}</h2>

    {{#each grupo.desafios as |desafio|}}
      {{pilas-desafio model=desafio}}
    {{/each}}

  {{/each}}

</div>
