<div class='contenido-principal'>

  <h1>¡Ya casi estás!</h1>

  <p>Tu solución al desafío se terminará de guardar cuando
    aprietes el botón "Enviar al tutor" en la parte de
    abajo de la página.</p>

  <p>Recordá: para guardar bien tu solución ¡tenés
    que apretar siempre ambos botones!</p>

</div>
