<div class='contenedor-editor' id='contenedor-editor'>

  <div class='panel-pilas' id='panel-pilas'>

    {{pilas-canvas onready="reiniciar"}}

    <div class='panel-ayuda'>

      <p>{{actividad.enunciado}}</p>

    </div>

  </div>

  <div class='panel-derecho' id='panel-derecho'>
    {{pilas-blockly model=model guardar='guardar' reiniciar='reiniciar' registrarPrimerCodigo='registrarPrimerCodigo' actividad=actividad}}
  </div>

</div>

{{#bs-modal name="modal-guardar" fade=true footerButtonsBinding="botones-modal-guardar" title="Guardar"}}
<p>¿Con qué nombre te gustaría guardar tu programa?</p>
<p>Nombre: {{input value=nombre_al_guardar}}
{{/bs-modal}}
