<div class='contenido-principal'>

  <div class="box">
    <p><img class='main-logo' src='images/main-logo.png' width="468" height="262"></p>
    <p>
      ¡Hola! Te damos la bienvenida a <strong>Pilas Bloques</strong>,
      una herramienta para aprender a programar.
    </p>

    <DisclaimerPrincipal></DisclaimerPrincipal>

    <p>
      Los desafíos que ofrecemos están organizados en dos grupos:
    </p>

    {{#each model as |libro|}}
      {{#unless libro.oculto}}
        {{pilas-libro libro=libro}}
      {{/unless}}
    {{/each}}

    <hr>

    <p>
      Visitá la sección {{#link-to "acercade"}}<strong>Acerca de</strong>{{/link-to}}
      para conocer más en detalle de qué se trata esta herramienta y quién la desarrolló.
    </p>

    <p>
      Si necesitás ayuda, presioná ({{fa-icon "question"}}) ubicado en la parte superior derecha
      de la pantalla.
    </p>

  </div>

</div>
