<div class="contenido-principal">

<h1>Lista de soluciones</h1>

<button type="button" {{action 'crearSolucionAlienTocaBoton'}}>Crear solución para AlienTocaBoton</button>
<button type="button" {{action 'crearSolucionAlien'}}>Crear solución para AlienTocaBoton</button>

{{outlet}}

</div>
