<!--id is important, so we can reference it on the toggler component-->
--{{abrirConsignaInicial}}--

{{#em-modal configName="bs" open-if=abrirConsignaInicial}}

  {{#em-modal-title}}
      {{#em-modal-toggler class="close"}}×{{/em-modal-toggler}}
      <h4 class="modal-title">¿Sabías que?</h4>
  {{/em-modal-title}}

  {{#em-modal-body}}

    <div class="modal-consigna">
      {{actividad.actividad.consignaInicial}}
    </div>

  {{/em-modal-body}}

  {{#em-modal-footer style='clear:both'}}
      {{#em-modal-toggler class="btn btn-default"}}Listo, continuar{{/em-modal-toggler}}
  {{/em-modal-footer}}

{{/em-modal}}
