<!--id is important, so we can reference it on the toggler component-->
{{#em-modal configName="bs" open-if=mostrarDialogoAyuda}}

  {{#em-modal-title}}
      {{#em-modal-toggler class="close"}}×{{/em-modal-toggler}}
      <h4 class="modal-title">Ayuda</h4>
  {{/em-modal-title}}

  {{#em-modal-body}}

    <div>

      <p>Esta aplicación te presentará varios desafíos que se pueden
        resolver conectando bloques.</p>

      <img src='imagenes/ayuda/arrastrar.gif' class="img-border">

      <p>Los bloques están agrupados en categorías, usá la barra lateral
        para desplegar los bloques.</p>

      <p>Luego podés arrastrar y soltar los bloques sobre el area
        de trabajo.</p>


      <img src='imagenes/ayuda/borrar.gif' class="img-border">

      <p>Una vez que tengas tu programa listo pulsá el botón ejecutar
        continuar.</p>

      <img src='imagenes/ayuda/ejecutar.gif' class="img-border">

      <p>Ah, y los bloques se pueden borrar arrastrándolos a la papelera.</p>

      <img src='imagenes/ayuda/seleccionar.gif' class="img-border">


    </div>

  {{/em-modal-body}}

  {{#em-modal-footer}}
      {{#em-modal-toggler class="btn btn-default"}}Cerrar{{/em-modal-toggler}}
  {{/em-modal-footer}}
{{/em-modal}}
