{{!-- ¡WARNING! this component is used also in others pilas-engine-bloques-website project. --}}

<Header />
{{outlet}}
<div class='contenido-principal'>
	<RPaperButton >Show backdrop</RPaperButton>

</div>
