{{!-- ¡WARNING! this component is used also in others pilas-engine-bloques-website project. --}}

<Header />
{{outlet}}
<div class='contenido-principal'>
	<div class='contenedor-acercade'>
		    <h1>{{t 'components.descripcionAcercaDe.about'}}</h1>
			<p>
			{{t 'components.descripcionAcercaDe.redirect'}}
				<Link @href="https://pilasbloques.program.ar/acerca-de-pilas-bloques/" @openOnNewTab={{true}}>
					https://pilasbloques.program.ar/acerca-de-pilas-bloques/
				</Link>
			</p>
	</div>
</div>
