<div class='contenido-principal'>

  <div class='contenedor-acercade'>

<h1>Acerca de Pilas Bloques</h1>

<p>
  Pilas Bloques es una nueva aplicación desarrollada para comenzar
  a programar.
</p>

<p>
  Encontrarás desafíos con diversos niveles de dificultad que te
  acercarán al mundo de la programación por medio de bloques.
</p>

<p>
  <strong>¿Qué es programar con bloques?</strong> Es desarrollar programas con
  acciones e instrucciones incorporadas en bloques o piezas
  prediseñadas. Tendrás que seleccionar y “encastrar” las piezas
  adecuadas para lograr que el programa resuelva la
  actividad propuesta.
</p>

<p>
  Pilas Bloques es un proyecto que contempla más de 40
  actividades diseñadas para
  dar los primeros pasos en el mundo de la programación, que pueden ser
  utilizadas tanto como secuencia de enseñanza o intercaladas con
  otras actividades, dependiendo del criterio pedagógico de cada
  profesor y aprendiz.
</p>

<p>
  Las actividades se publicarán gradualmente, la aplicación las descargará
  automáticamente cuando se conecte a Internet.</p>

<p>
  Enseñar y aprender a programar es importante porque:
</p>

<ul>
  <li> Incentiva a los estudiantes a crear sus propios programas,
    proponiéndoles otros espacios más que el de usuarios de aplicaciones
    realizadas por terceros.</li>
  <li>Promueve y estimula la confianza para resolver problemas.</li>
  <li>Trabajar con conceptos de las ciencias de la computación
    permite desarrollar habilidades de pensamiento computacional.</li>
</ul>

<p>Actualmente estás usando la versión <code>{{currentVersion}}</code></p>

<p>Este programa fue desarrollado en forma conjunta por Huayra - Conectar Igualdad (ANSES) y Program.AR - Fundación Sadosky.<br>
 Pilas Bloques está basado en el desarrollo previo de Pilas Engine de Hugo Ruscitti.</p>

<p>
  <button class='btn btn-warning' {{action "visitWebsite"}}>{{fa-icon "globe"}} Visitar al web del proyecto</button>
  {{pilas-update}}
</p>


</div>
</div>
