<div class='contenido-principal'>

<h1>Acerca de ...</h1>

<p>pilas-engine-bloques es una herramienta
diseñada para aprender a programar utilizando lógica y desafíos.</p>

<p>Actualmente estás usando la versión <code>{{currentVersion}}</code></p>


<p>
  <button class='btn btn-warning' {{action "visitWebsite"}}>{{fa-icon "globe"}} Visitar al web del proyecto</button>
</p>

{{pilas-update}}

</div>
