<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">pilas-engine-bloques</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to "index" tagName='li'}}<a href=#>index</a>{{/link-to}}
        {{#link-to "version" tagName='li'}}<a href=#>versión</a>{{/link-to}}
        {{#link-to "preferencias" tagName='li'}}<a href=#>preferencias</a>{{/link-to}}
        {{#link-to "about" tagName='li'}}<a href=#>Acerca de...</a>{{/link-to}}
      </ul>

    </div>
  </div>
</nav>


{{outlet}}
