<div class="ember-view">
  {{!-- {{pilas-notificador servicioNotificador=notificador}} TODO: Esto dejo de andar, no se puede cerrar. El cartel ocupa toda la ventana y no se puede cerrar, esta feo.--}}
  {{page-title "Pilas Bloques"}}

  {{outlet}}

  {{paper-toaster}}
</div>