{{#if layout}}
  {{partial "navbar"}}
  {{partial "modal"}}
{{else}}
  <style>
    .absolute {
      top: 10px;
    }
  </style>
{{/if}}

<div class="page-container">
  {{liquid-outlet class='absolute'}}
</div>
