<div class='contenedor-editor'>


<div class='panel-pilas'>

  {{pilas-canvas onready="reiniciar"}}


  <div class='panel-ayuda'>
    Acá un texto que explica el motivo de la actividad
  </div>
</div>

<div class='panel-derecho' id='panel-derecho'>
  {{pilas-blockly reiniciar="reiniciar" escenario=nombre_escenario}}
</div>

</div>
