<div class='contenedor-editor'>


<div class='panel-pilas'>

  {{pilas-canvas onready="reiniciar"}}

  <div class='panel-ayuda'>

    {{#if tuercas_recolectadas}}
      <p>Tienes <strong>{{tuercas_recolectadas}}</strong> tuercas recolectadas</p>
    {{else}}
      <p>No has recolectado ninguna tuerca aún</p>
    {{/if}}

    <p>Acá un texto que explica el motivo de la actividad</p>
  </div>

</div>

<div class='panel-derecho' id='panel-derecho'>
  {{pilas-blockly reiniciar="reiniciar" escenario=nombre_escenario}}
</div>

</div>
