<div class='contenido-principal'>
  <h1> {{t "galeria-de-bloques"}} </h1>

  <p>{{t "nueva-version-blocky"}}</p>

  <p> {{t "info-temporal"}} </p>

  <div class="padding">
    {{ember-blockly-catalog current_block=current_block}}
  </div>
</div>
