{{#if layout}}

{{else}}
  <style>
    .contenedor-editor {
      top: 0px !important;
    }
  </style>
{{/if}}


<div class='contenedor-editor' id='contenedor-editor'>

  <div class='panel-pilas' id='panel-pilas'>

    {{pilas-canvas onready="reiniciar"}}

    <div class='panel-ayuda'>

      <p>{{actividad.enunciado}}</p>

    </div>

  </div>

  <div class='panel-derecho' id='panel-derecho'>
    {{pilas-blockly model=model mostrarAlternar=false mostrarGuardar=false mostrarVerCodigo=false guardar='guardar' reiniciar='reiniciar' registrarPrimerCodigo='registrarPrimerCodigo' actividad=actividad}}
  </div>

</div>
