<div class='contenido-principal'>

  <div class="box">
    <img src='images/main-logo.png'>
    <br/>

    <p>
      ¡Hola!, te damos la bienvenida a <strong>Pilas Bloques</strong>,
      una herramienta desarrollada para comenzar a programar.
    </p>

    <p>
      Ingresá en la sección {{#link-to "desafios"}}desafíos{{/link-to}}
      para comenzar a realizar los desafíos.</p>

    <p>También podés visitar la sección {{#link-to "acercade"}}acerca de{{/link-to}}
      o ayuda ({{fa-icon "question"}}) para más detalles.
    </p>


  </div>

</div>
