<div class='contenido-principal'>

  <div class="box">


    <p><img class='main-logo' src='images/main-logo.png' width="468" height="262"></p>

    {{outlet}}

    <p>
      ¡Hola! Te damos la bienvenida a <strong>Pilas Bloques</strong>,
      una herramienta para aprender a programar.
    </p>

    <p>
      Ingresá en la sección {{#link-to "desafios"}} <strong>Desafíos</strong>{{/link-to}}
      para comenzar a resolver los retos disponibles.
    </p>

    <p>
      Visitá la sección {{#link-to "acercade"}}<strong>Acerca de</strong>{{/link-to}}
      para conocer más en detalle de qué se trata esta herramienta y quién la desarrolló.
    </p>

    <p>
      Si necesitás ayuda, presioná ({{fa-icon "question"}}) ubicado en la parte superior derecha
      de la pantalla.
    </p>


  </div>

</div>
