<div class='contenido-principal'>

  <div class="box">
    <img src='images/main-logo.png'>
    <br/>

    <p>
      ¡Hola!, te damos la bienvenida a <strong>pilas-engine-bloques</strong>,
      una herramienta diseñana para a programar utilizando lógica y
      desafíos.
    </p>

    <p>
      Ingresá en la sección {{#link-to "desafios"}}Desafíos{{/link-to}}
      para comenzar.
    </p>


  </div>

</div>
