<div class='contenido-principal'>

<h1><img src='imagenes/programar.png'></h1>

<p>Bienvenido a pilas-engine-bloques, una aplicación diseñada
  para aprender a programar utilizando lógica y desafíos.</p>

</div>
