name: build
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1

      #https://docs.github.com/es/actions/guides/caching-dependencies-to-speed-up-workflows#using-the-cache-action
      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
        
      - run: npm install

      - name: Run tests with headless window
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test:CI

  pack-linux: # When there is a tag, pack the installers and upload to Github.
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags')
    needs: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install
      - run: npm run build:prod
      - run: npm run pack:linux
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "binaries/*.zip,binaries/*.deb"
          token: ${{ secrets.GITHUB_TOKEN }}

  pack-macos: # When there is a tag, pack the installers and upload to Github.
    runs-on: macos-latest
    if: startsWith(github.ref, 'refs/tags')
    needs: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install
      - run: npm run build:prod
      - run: npm run pack:osx
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "binaries/*.dmg"
          token: ${{ secrets.GITHUB_TOKEN }}

  pack-windows: # When there is a tag, pack the installers and upload to Github.
    runs-on: windows-latest
    if: startsWith(github.ref, 'refs/tags')
    needs: test
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install
      - run: npm run build:prod
      - run: npm run pack:win32
      - uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "binaries/*.exe"
          token: ${{ secrets.GITHUB_TOKEN }}
